%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              %title Retro Notes - Retrospectives Made Simple
              / Bootstrap Core CSS
              %link{:href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', :rel => 'stylesheet', :type => 'text/css'}
              %link{:href => 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', :rel => "stylesheet", :type => 'text/css'}
              = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
              / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
              / WARNING: Respond.js doesn't work if you view the page via file://
              /[if lt IE 9]
              %script{:src => 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
              %script{:src => 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'}
  %body
    / Navigation
    %nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
      .container.topnav
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.topnav{:href => "#"} Retro Notes
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => '#features'} Features
            %li
              %a{:href => '#contact'} Contact
    / /.navbar-collapse
    / /.container
    / Header
    %a{:name => 'about'}
    .intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              %h1 Retro Notes
              %h3 Retrospectives Made Simple
              %a{:href => '#features'} how?
              %hr.intro-divider
                %ul.list-inline.intro-social-buttons
                  %li
                    = link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-block btn-social btn-google-plus btn-flat' do
                      %i.fa.fa-google-plus
                      Sign in using Google+
                  %li
                    = link_to user_omniauth_authorize_path(:github), class: 'btn btn-block btn-social btn-github btn-flat' do
                      %i.fa.fa-github
                      Sign in using Github
    / /.container
    / /.intro-header
    / Page Content
    %a{:name => 'features'}
    .content-section-b
      .container
        .row
          .col-lg-5.col-sm-6
            %h2.section-heading
              Create New Retro Board
            %p.lead
              Start with creating a new retro board. Get started with the default retro panels (What went well?, What can be done better?, Other ideas / suggestions) or rename them to your taste.
          .col-lg-5.col-lg-offset-2.col-sm-6
            %i.icon.ion-clipboard.icon-lg

    .content-section-b
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            %h2.section-heading
              Anchor Retro Boards to Project
            %p.lead
              Retrospectives are never single. You'll have to have multiple of them to continuously improve. Choose a new project or an existing one to group your retro board under a project.
          .col-lg-5.col-sm-pull-6.col-sm-6
            %i.fa.fa-anchor.icon-lg

    .content-section-b
      .container
        .row
          .col-lg-5.col-sm-6
            %h2.section-heading
              Collaborate
            %p.lead
              Collaboration is at the heart of retrospectives. Retro Boards just make it simple. Just click 'Share' on any retro board and choose people to share the board with either from the list of team members who are already part of your project in Github or with anyone outside via email
          .col-lg-5.col-lg-offset-2.col-sm-6
            %i.fa.fa-share-alt.icon-lg

    .content-section-b
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            %h2.section-heading
              Real Time Updates
            %p.lead
              See all the activities on a retro board as soon as they happen. Real time updates keep the team motivation up all the time while reducing the duplicates.
          .col-lg-5.col-sm-pull-6.col-sm-6
            %i.fa.fa-bolt.icon-lg


    .content-section-b
      .container
        .row
          .col-lg-5.col-sm-6
            %h2.section-heading
              Upvote Ideas
            %p.lead
              Upvotes a are important way of showing your interest for an idea to be discussed. Upvote ideas added by your colleagues. The more the upvotes for a retro card, the more likely its going to be discussed by the team.
          .col-lg-5.col-lg-offset-2.col-sm-6
            %i.fa.fa-thumbs-up.icon-lg

    .content-section-b
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            %h2.section-heading
              Group Similar Ideas
            %p.lead
              People on a team think alike and represent differently. If you think we mean the same thing, Retro Board provides easy way to group similar ideas while still keeping the individual thoughts.
          .col-lg-5.col-sm-pull-6.col-sm-6
            %i.fa.fa-puzzle-piece.icon-lg

    .content-section-b
      .container
        .row
          .col-lg-5.col-sm-6
            %h2.section-heading
              Create Action Items
            %p.lead
              At the end of the day, retrospectives result into some action items. Rerto Notes integrates directly with Github so that you can actually create issues for these action items and track them right in your project.
          .col-lg-5.col-lg-offset-2.col-sm-6
            %i.fa.fa-check-square-o.icon-lg

    / /.container
    / /.content-section-a
    %a{:name => "contact"}
    .banner
      .container
        .row
          .col-lg-6
            %h2 Let's Connect:
          .col-lg-6
            %ul.list-inline.banner-social-buttons
              %li
                %a.btn.btn-default.btn-lg{:href => 'https://twitter.com/scrumcook'}
                  %i.fa.fa-twitter.fa-fw
                  %span.network-name Twitter
    / /.container
    / /.banner
    / Footer
    %footer
      .container
        .row
          .col-lg-12
            %ul.list-inline
              %li
                %a{:href => '#'} Home
              %li.footer-menu-divider ⋅
              %li
                %a{:href => '#features'} Features
              %li.footer-menu-divider ⋅
              %li
                %a{:href => '#contact'} Contact
            %p.copyright.text-muted.small Copyright © ScrumCook 2016. All Rights Reserved