/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require iCheck/square/grey
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-colorpicker
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-black-light";

.skin-black-light .content-wrapper, .skin-black-light .main-footer {
  border-left: 1px solid #d2d6de;
  border-top: 1px solid #d2d6de;
}

.content-wrapper, .right-side {
  min-height: 100%;
  background-color: #fff;
  z-index: 800;
}

.ui-state-active {
  border: 1px dashed red;
}
.retro-cards {
  min-height: 100px;
}

.retro-card {

  .box-footer {
    border-top: none;
    padding: 0 10px 0 0;
  }

  .box {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  }

  .box-header {
    cursor: move;
  }

  .plus-one {
    font-size: 15px;
  }

  .upvoted {
    color: #D2D6DE
  }
}

a.delete:hover {
  color: #dd4b39 !important;
}

a.delete-default {
  color: #97a0b3;
}

.actions > a{
  color: #cfcfcf;
  font-size: 15px;
}

.board-actions > a {
  font-size: 25px;
  margin-left: 5px;
}

.actions > a:hover{
  color: #505050
}

.my-colorpicker:hover {
  cursor: pointer;
}

.board-title {
  border-bottom: 1px solid #F4F4F4;
  margin-top: -9px;
  font-size: 35px;
  padding-bottom: 5px;
}

.colorpicker {
  min-width: 130px !important;
  padding: 4px !important;
}
.editable > i.fa-pencil {
  color: #97a0b3;
  font-size: 15px;
}

.retro_panel_form_text {
  border-right: 0;
}

ul.cards {
  list-style: none;
  position: relative;
}

.mini-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px dashed #eeeeee;
}
