/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require iCheck/square/grey
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-colorpicker
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-black-light";

.skin-black-light .content-wrapper, .skin-black-light .main-footer {
  border-left: 1px solid #d2d6de;
  border-top: 1px solid #d2d6de;
}

.content-wrapper, .right-side {
  min-height: 100%;
  background-color: #fff;
  z-index: 800;
}

#retro_card {
  .box-footer {
    border-top: none;
    padding: 0 10px 0 0;
  }

  .plus-one {
    font-size: 15px;
  }
}

a.delete {
  color: #dd4b39;
}

.colorpicker {
  min-width: 130px !important;
  padding: 4px !important;
}